* {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: 'Montserrat', sans-serif;

}
#navbar {
	background: #333333;
	color: #999999;
	margin: 0px;
	border: none;
	border-radius: 0px;
}
.navbar-nav a.currency {
	display: inline-block;
}
.navbar-nav ul.dropdown-menu {
	left: 65px;
}
.navbar-nav .dropdown span.menu:after {
	content: ':';
	margin: 0 5px;
}
.navbar-right li.empty a{
	padding: 20px;
	background-color: #00c8c8 ;
	color: white;
} 
.navbar-right li.empty a i {
	padding-right: 23px;
}
.navbar-right li a {
	font-size: 13px;
	padding: 20px;
}
.navbar-right li.empty {
	margin-left:64px;
}
.banner {
	background: url('../images/photo.jpg') no-repeat  ;
	overflow: hidden;
	height: 920px;
	background-color: #f8f8f8;
	margin-bottom: 20px;
	position: relative;
	background-position: 200px 0px;
}
.banner h1.brand {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 433px;
	letter-spacing: 170px;
	position: absolute;
	top: 25%;
	left: 7%;
	color: #575153;
}
.banner h2 {
	font-size: 24px;
	text-transform: uppercase;
	position: absolute;
	top: 25px;

}
.banner  span {
	font-weight: bold;
}
.mainMenu {
	margin-top: 50px;
}
.mainMenu li a{
	text-transform: uppercase;
	font-size: 14px;
	padding: 0px;
	margin-right: 15px;
	margin-left: 28px;
	background-color: transparent;
	color: #222222;
	position: relative;
}

.mainMenu li a span.caret{
	position: absolute;
	bottom: -12px;
}
.mainMenu li:hover a,
.mainMenu li:hover span.caret {
	color: #00c8c8;
	background-color: transparent;
}

.subMenu {
	width: 438px;
	padding: 30px;
	background-color: #f8f8f8;
	border: none;
	box-shadow: 0px 10px 20px 6px #dbdbdb;
	left: 25px !important;
	top: 40px;
}
.subMenu .small {
	width: 100%;
}
.subMenu .small li.heading {
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 30px;
}
.subMenu .small .list-unstyled  a{
	text-transform: lowercase;
	font-size: 12px;
	font-weight: lighter;
	text-decoration: none;
	margin: 0px;
	line-height: 29px;
	color: #727272;
}
.subMenu div.saleOff {
	background-color: #333333;
	text-align: center;
	font-weight: bold;
	color: white;
	font-size: 40px;
	padding: 35px 44px;
	margin-top: 50px;
}
.nav {
	padding: 0px;
}
a.viewmore {
	display: inline-block;
	padding: 22px 31px;
	border: 2px solid #737373;
	color: #737373;
	font-size: 15px;
	text-transform: uppercase;
	position: absolute;
	bottom: 10%;
	right: 10%;
	letter-spacing: 2px;
}
a.viewmore:hover {
	text-decoration: none;
	background-color: #00c8c8;
	color: white;
	border: 2px solid #00c8c8;
}
.mainContain {
	margin: 50px 0px;
	padding: 35px 0px;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}
.menuContain {
	padding: 0px 0px;
}
.mainContain div.navbar {
	margin-bottom: 30px;
}
.menuContain ul li a {
	font-size: 14px;
	color: #727272;
	text-transform: uppercase;
	padding-right: 26px;
} 
.menuContain ul li a.first{
	padding-left: 0px;
}
.menuContain ul li a:hover {
	background-color: transparent;
	color: #00c8c8;
}
.gallery {
	padding: 0px;
}
.gallery img {
	width: 100%;
}
.small {
	position: relative;

}
.picture {
	padding-left: 0px;
	padding-right: 30px
}
.small p.price {
	position: absolute;
	font-size: 12px;
	top: 5px;
	left: 5px;
}

.gallery div.bigLeft {
	padding-top: 30px;
}
.gallery div.bigRight {
	padding-bottom: 30px;
}

.text {
	border-top: 1px solid #eeeeee;
	padding: 20px 10px 15px 10px;
	font-size: 10px;
	text-align: center;
	color: #727272;
	opacity: 0;
	position: absolute;
	bottom: 0px;
	left: 0px;
	transition: 0.4s all ease-in;
	z-index: 10;
	background-color: white;
}
.over:hover  .text{
	opacity: 1;
	bottom: -164px;
	box-shadow: 0px 10px 20px 6px #dbdbdb;
}
.over:hover .small{
	box-shadow: 0px -3px 20px 6px #dbdbdb;
}
.text h5{
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	color: #727272;
}
.text a {
	font-size: 19px;
	line-height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: #727272;
	height: 30px;
	display: inline-block;
	margin: 10px 7px 0px 7px;
	color: white;
}
.text a:hover {
	background-color: #00c8c8;
}
.lookbook {
	background-color: #f8f8f8;
	
}
.lookbook-item {
	text-align: right;
	padding-top: 35px
}
.lookbook-photo {
	padding: 0px;
}
.lookbook-item  img{
	height: 350px;
}
.lookbook-item h2 {
	font-size: 33px;
	text-transform: uppercase;
	margin-top: 46px;
	font-weight: bold;
	color: #575153;
}
.lookbook-item  h4 {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 25px;
	letter-spacing: 4px;
	color: #575153;
}
.lookbook-item p {
	font-size: 10px;
	color: #575153;
}
.lookbook-item a.view {
    display: inline-block;
    padding: 13px 16px;
    border: 2px solid #737373;
    color: #737373;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.lookbook-item a.view:hover {
	text-decoration: none;
	background-color: #00c8c8;
	color: white;
	border: 2px solid #00c8c8;
}
.border-item {
	
	border-right: 30px solid white;
}
footer .upperFooter {
	background-color: #f8f8f8;
	margin-top: 80px;
}
.information {
	margin-right: 15px;
}
.information h3 {
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 10px;
	margin-top: 50px;
	font-weight: bold;
}
.information ul li a {
	text-decoration: none;
	color: #727272;
	font-size: 12px;
	display: inline-block;
	margin-bottom: 10px;
}
.information p {
	color: #727272;
	font-size: 12px;
	margin-bottom: 10px;
}
.information ul li a:hover {
	color:  #00c8c8;
}
.upperFooter .square {
	font-size: 32px;
	padding: 18px;
	background-color: #333333;
	color: white;
	margin: 20px  0px 50px 0px;
	text-align: center;
	text-transform: uppercase;
}
.upperFooter .border {
	border-right: 30px solid #f8f8f8;
}
.upperFooter .contact {
	background-color: #00c8c8;
	font-size: 35px;
}
.upperFooter .square a {
	display: inline-block;
	padding: 20px 25px;
	color: white;
	transition: 0.5s;	
}
.upperFooter .contact a:hover {
	transform: rotate(360deg)
}
.lowerFooter {
	background-color: #333333;

}
.lowerFooter div p {
	color: #999999;
	font-size: 14px;
	float: left;
	padding: 20px 0px;
	margin: 0px;
}
.lowerFooter p.design {
	float: right;
	margin-right: 20px;
}
.p0 {
	padding: 0px;
}
@media (max-width: 578px){
.banner .brand {
	font-size: 245px;
	top: 35%
	}
}
