// @import 'variables';
@import 'style';

#content {
    overflow: hidden;
    height: 100%;
}
.content__skill__title {
    margin: 14px 0 9px;
    span {
        text-transform: uppercase;
        background: url(../assets/images/small-wave.png) center bottom repeat-x;
        padding-bottom: 4px;
    }
}
.content__detail p{
    margin-left: 15px;
    margin-bottom: 4px;
}
.content__grid{
    --col:4;
    --spacing: 25px;
    --width: calc(100% / var(--col));
    margin-left: calc(-1 * var(--spacing));

    .content__grid__img {
        flex-basis: calc(calc(var(--width) - var(--spacing)));
        margin-left: var(--spacing);
        margin-bottom: var(--spacing);
    }
}
.note {
    text-align: right;
    font-size: 1.4rem;
    transform: translate(40px, 15px);
    font-style: italic;
}
@media screen and (max-width: 768px) {
    .content__grid{
        --col:3;
        --spacing: 15px;
    }
}
@media screen and (max-width: 480px) {
    .content__grid{
        --col:2;
        --spacing: 10px;
    }
}