* {padding: 0; margin: 0}

.alsok-title p {
    margin-top: 28px;
    color: #555;
    margin-bottom: 30px;
}

body {
	font-family: "Meiryo","Ã¦Â¸Â¸Ã£â€šÂ´Ã£â€šÂ·Ã£Æ’Æ’Ã£â€šÂ¯", "Yu Gothic", "Ã£Æ’â€™Ã£Æ’Â©Ã£â€šÂ®Ã£Æ’Å½Ã¨Â§â€™Ã£â€šÂ´ Pro", "Hiragino Kaku Gothic Pro", "Ã£Æ’Â¡Ã£â€šÂ¤Ã£Æ’ÂªÃ£â€šÂª" , sans-serif;	
}
a {
	text-decoration: none;
}
.d-f {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.pos-r {
	position: relative;
}
.pos-r::after {
	content: '';
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(225, 225, 225, 0.3);
	display: block;
	position: absolute;
	width: 100%;
	display: none;	
	cursor: pointer;
}
.pos-r:hover::after {
	display: block;
}
/*header*/
header {
    border-top: 4px solid #0f5c9b;
    padding-top: 20px;
    padding-bottom: 25px;
    overflow: hidden;
}
.wrapper{
	width: 950px;
	margin: 0 auto;
}
#upper-header {
	margin-bottom: 20px;
	overflow: hidden;
}
.no-under {
	text-decoration: none;
}
#brand img,#brand,#right-info  {
	/*float: left;*/
}

div#brand {
    margin-right: auto;
}

#brand img {
	margin-left: 7px;
}

.f-left {
	float: left;
}
	/*right-info*/	

p.text {
    font-family: Meiryo;
    font-size: 10px;
    margin-top: 3px;
}
.contact{
	margin-left: 22px;
	background-color: #ffed4d;
	padding: 14px 28px !important;
	position: relative;
}

.contact p {
	font-size: 14px;
	font-weight: bold;
	background: url('../images/envelop.png') no-repeat left center;
	padding-left: 27px;
	color: #fd7e00;
}
#menu-btn {
	padding: 17px 10px;
	background-color: #0f5c9b;
	border-radius: 5px;
	display: none;
}	
.bars {
	background: white;
	width: 20px;
	height: 3px;	
	position: relative;
	-webkit-transition: all 0.25s ease;
	   -moz-transition: all 0.25s ease;
	    -ms-transition: all 0.25s ease;
	     -o-transition: all 0.25s ease;
	        transition: all 0.25s ease;
}
.bars::after,
.bars::before {
	background: white;
	width: 20px;
	height: 3px;
	content: '';
	position: absolute;
	top: -6px;
	transition: all 0.25s ease;
}
.bars::before{
	top: 6px;
}
.clicked .bars {
	background: transparent;	
}
.clicked .bars::after,
.clicked .bars::before {
	top: 0;
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.clicked .bars::before {
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

ul li {
	list-style: none;
}
/*end header*/

/*hero-bg*/
#hero-bg {
	background: url('../images/hero-bg.jpg') no-repeat center center;
	background-size: cover;
	text-align: center;	
}
#hero-bg-tv {
	background: url('../images/hero-bg-tv.png') no-repeat center center;
	background-size: cover;
	text-align: center;	
}
.text-hero {
	color: #fff;
	padding: 65px 0px;
	font-size: 26px;
}
/*end hero-bg*/
/*breadcrumb*/
#breadcrumb {
	padding: 14px 0px 10px 0px;
	border-bottom: 1px solid #ddd;
}
#breadcrumb a {
	border-bottom: 1px solid #0c5999;
	color: #0c5999;
	font-size: 12px;
}
#breadcrumb span {
	font-size: 12px;
}
#breadcrumb span::before {
	content: '>';
	padding: 0px 4px;
}
/*end breadbcrumb*/
/*table*/
#table {
	padding: 60px 0px 80px 0px;
}
#table h4,#tv-post h4 {
	font-size: 26px;
	font-weight: 400;
	background: url('../images/dot.png') bottom 0px center no-repeat;
	padding-bottom: 10px;
	
}
.title p {    	
    	color: #555;
	}
.row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: stretch;	
}

.table-row .heading {
	text-align: center;
	background-color: #0e5b9a;
	padding: 16px 0px;
	border-bottom: 1px solid #ccc;
	color: white;
	font-size: 16px;
}


.detail {
	padding: 23px 20px;
	color: #555555;
}
/*end table-content*/


#construction {
	background-color: #eee;
}
.inner-wrap,.news-post {
	display: inline-block;
}
.inner-wrap>img {
	display: block;
	margin: auto;
}
.inner-wrap>a, .news-title>a{
    margin-top: 10px;
    display: inline-block;
    padding: 4px 24px;
    background: url(../images/arrow.png) 10px center no-repeat #0f5c9b;
}
.date {
	color: #0f5c9b;
	padding-right: 6px;
}
.news-post a {
    color: black;
}
.photo-construct {
	text-align: center;
}
.photo-construct ul li {
	display: inline-block;
	position: relative;
}

.photo-construct a::before,
.photo-construct a::after,
.photo-construct li.photo::before,
.photo-construct li.photo::after {
	width: 20px;
	height: 20px;
	position: absolute;
	border-color: #0f5c9b;
	border-style: solid;
	content: '';
}
.photo-construct a::before{
	top: -4px;
	left: -4px;
	border-width: 2px 0 0 2px;
}
.photo-construct a::after{
	bottom: -4px;
	left: -4px;
	border-width: 0 0 2px 2px;
}
.photo-construct li.photo::before{
	top: -4px;
	right: -4px;
	border-width: 2px 2px 0 0;
}
.photo-construct li.photo::after{
	bottom: -4px;
	right: -4px;
	border-width: 0 2px 2px 0;
}

/*end construction*/
/*alsok*/
#alsok{
	position: relative;
}
.alsok-title a {
	display: inline-block;
	padding: 15px 28px 15px 40px;
	color: white;
	background: url(../images/arrow.png) 18px center no-repeat #0f5c9b;
	font-weight: bold;
}
.alsok-photo{
	margin-bottom: -10px;
}
/*end alsok*/
/*tv-post*/
#tv-post {
	background-color: #eee;
	padding: 65px 0px;
}
.post-detail {
	padding: 25px;
	background-color: white;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: 30px 0px;
}
.post-detail:last-child	{
	margin: 0px;
}

.post-img {
	/* flex: 0 0 30%; */
	margin-left: auto;
}
.full {
	max-width: 100%;
	height: 100%;
}
.post-text img,.post-text b {
	display: inline-block;
	vertical-align: middle;
}
.post-text img {
	padding: 14px 20px 14px 18px;
	background-color: #0e5b9a;
}

.text-detail {
	padding: 30px 0px;
}
.post-text b {
	font-size: 24px;
	margin-left: 12px;
	color: #0e5b9a;
}
.text-detail p {	
	color: #111111;
}
.post-text span {
	color: #0e5b9a;
	font-weight: bold;
}
.call-post {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.call-blue {
	border: 1px solid  #0e5b9a;
	padding: 5px 37px;
}
.call-blue img{
	background-color: transparent;
}
.call-blue img,p.text-blue {
	padding: 0px;
	margin: 0px;
}
p.text-blue {
	color: #0e5b9a;
	font-size: 10px ;
}
.call-post .contact p {
    padding: 0px;
    padding-left: 27px;
    color: #fd7e00;
}
.call-post .contact {
	margin-left: auto;
}
/*end tv-post*/
/*sub-post*/
#sub-post {
	padding: 60px 0px 80px 0px;
}
.sub-post-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	text-align: center;
}

p.sub-post-text {
    padding-top: 40px;
}
p.sub-post-text span {
	color: #0f5c9b;
	font-size: 22px;
}
.sub-post-text img {
	border: 1px solid #0f5c9b;
}
/* end sub-post*/
/*footer*/
.text-footer {
	border: 1px solid white;
}
#upper-footer {
	background: url('../images/bg-footer.png') no-repeat center center;
	padding: 62px 0px 58px 0px;
	overflow: hidden;
	background-size: cover;
	background-position: 65% 0%;
}

#upper-footer .title p {
	color: white;
}
#upper-footer .title img,.sub-post-text img {
	padding: 15px 65px;
}
#upper-footer .title span {
	color: #ffff4c;
}
.call-footer .text{
	color: white;
}
.to-top {
	position: relative;
}
#top {
	position: absolute;
	right: -160px;
	bottom: -33px;
	width: 80px;
	height: 80px;
	background-image: url(../images/sprite.png);
	background-position: -624px -128px;
	cursor: pointer;
}
#top:hover{
	background-position: -624px -208px;
}
#main-footer {
	background-color: #ccc;
	padding: 40px 0px;
}
.menu-footer {
	overflow: hidden;
}
.menu-footer ul li {
	display: inline;
	border-right: 1px solid #555555;	
}
.menu-footer ul li:first-child {
	border-left:  1px solid #555555;
}
.menu-footer ul li a{
	color: #555555;
	font-size: 14px;
}

#sub-footer {
	padding: 15px 0px;
	text-align: center;
}
#sub-footer p{
	color: #555555;
}

/*end footer*/
@media screen and (min-width: 768px){	
	.mobile {
		display: none !important;
	}
	body {
		min-width: 1100px;
	}
	.wrapper-fluid {
	width: 100%;
	}
	#right-info {       	
    	padding-top: 15px;
 	}
	#menu li {
		float: left;
		padding: 3px 41px;
		border-left: 1px solid #ddd;
	}
	#menu li:last-child {
		padding: 3px 16px;
		border-right: 1px solid #ddd;
	}
	.no-list-style>li{
		position: relative;
	}
	.no-list-style>li:before{
		content: '';
		position: absolute;
		width: 100%;
		bottom: -25px;
		height: 4px;
		left: 0;
		background: #dddddd;
		z-index: 21;
		display: none;
	}
	.no-list-style>li:hover::before{
		display: block;
	}

	#hero-bg img {
	    border: 1px solid white;
	    padding: 15px;
	    margin: 160px 0px;
	}
	#news {
		margin-top: 80px;
		margin-bottom:  80px;
		border: 1px solid #ddd;
	}
	.news-title {
    	padding: 29px 0px;
	}
	.inner-wrap {
	    display: inline-block;
	    border-right: 1px solid #ddd;
	    padding: 0px 63px;
	}
	
	.news-post 	{
		margin-left: 40px;
	}
	.news-post a {
    border-bottom: 1px solid #676767;   
	}
	.news-post ul li {
    	margin: 4px 0px;
    	font-size: 16px;
	}
	/*end #news*/
	#construction {
		padding: 60px 0px 75px 0px;		
	}
	.title {
	    width: 433px;
	    margin: auto;
	    text-align: center;
	    margin-bottom: 65px;
	    flex-wrap: wrap;
	}
	.title p {
    	margin-top: 35px;
    	color: #555;
    	flex: 0 0 100%;
 	}
	.photo-construct li:nth-child(even){
	margin: 0px 108px;
	}
	li.photo {	
	height: 208px;
    width: 208px;   	
	background: url(../images/sprite.png);
	}
	.photo-construct li.photo:nth-child(1) {	
	    background-position: 0px 0px;
	}
	.photo-construct li.photo:nth-child(1):hover {
		background-position: 0px 292px;
	}
	.photo-construct li.photo:nth-child(2) {
		background-position: -208px 0px;
	}
	.photo-construct li.photo:nth-child(2):hover{
		background-position: -208px 292px;
	}
	.photo-construct li.photo:nth-child(3) {
		background-position: -416px 0px;
	}
	.photo-construct li.photo:nth-child(3):hover {
		background-position: -416px 292px;
	}
	/*end #construction*/
	#alsok {
		padding-top: 47px;
	}
	.man {
		position: relative;
		top: 0;	
		left: -35px;
	}
	.alsok-logo{
		position: absolute;
		bottom: 69px;
		left: 310px;
	}
	.alsok-title{
		float: right;
		margin-top: 25px;
	}
	
	/*end #alsok*/
	#table .title {
		width: 500px;
	}
	#table h4 {
		flex: 0 0 100%;
	}
	.row {
		height: 180px;
		border: 1px solid #ccc;
	}
	.table-row:nth-child(1) {
		flex:0 0 25%;
		border-right: 1px solid #ccc;
	}
	.table-row:nth-child(2) {
		flex:0 0 25%;
		border-right: 1px solid #ccc;
	}
	.table-row:nth-child(3) {
		flex:0 0 50%;
	}
	/*end #table*/
	/*tv-post*/
	.post-text {
	flex: 0 0 66%;
	padding-right: 28px;
	}
	.post-contact {
		display: inline;
	}
	/*end tv-post*/

	/*footer*/
	.call-footer {
		width: 610px;
		margin: auto;		
		overflow: hidden;
	}
	.call-footer .text{
		font-size: 12px;
		color: white;
		margin: 0px;
	}
	.call-footer .contact {
		margin-left: 60px;
	}	
	#upper-footer .title {
	width: 500px;
	}
	.menu-footer ul li {
		padding: 0px 20px;
		border-right: 1px solid #555555;	
	}
	.menu-footer ul {
		width: 720px;
		text-align: center;
		margin: auto;
		padding: 5px 0px;
	}
	
	/*end footer*/
	
}
/*end min-width:768px*/

@media screen and (max-width: 767px){
	.d-f{
		flex-wrap: wrap;
	}	
	.desktop {
		display: none !important;
	}
	
	.wrapper {
		width: 100%;
	}
	#table,#tv-post,#sub-post,#upper-footer,#main-footer,#construction,.alsok-title{
		padding-right: 15px !important;
		padding-left: 15px !important;
	}
	header {
		padding-top: 10px;
		padding-bottom: 0px;
	}
	#brand {
    width: 50%;
    height: auto;
	}
	#menu-btn{
		display: inline-block;
		margin-right: 10px;
	}
	
	#brand img{
		max-width: 100%;
		margin-left: 17px;
	}
	
	#upper-header {
		align-items: flex-start;
		margin-bottom: 10px;
	}
	#menu-mobile {
		padding: 30px 26px;
		background-color: #0f5c9b;
	}
	#menu-mobile li {
		padding: 15px;
		border-bottom: 1px  dotted white;
		background:url('../images/arrow.png') left center no-repeat;
	}
	#menu-mobile.pos-f {
		top: 70px;
		left: 0;
		right: 0;
		height: 100vh;
		z-index: 6;
	}
	#menu-mobile li:first-child {
	    border-top: 1px dotted white;
	}
	#menu-mobile li a {
    color: white;
    font-size: 15px;
    font-family: "Hiragino Kaku Gothic Pro";
    font-weight: 600;
 	}
	/*end menu on mobile*/

/*Index page*/
	#hero-bg {
		padding: 56px 25px 78px;
	}
	#hero-bg img.mobile {
		width: 76%;
		border: 1px solid white;
		padding: 15px 30px;
	}
	/*end hero-bg*/
	.news-title {
		margin: 25px 15px 30px 15px;
		border: 1px solid #ccc;
		padding: 0 13px 20px;
	}
	.inner-wrap{		
		display: block;
		border-bottom: 1px dotted #ccc;
	}
	.inner-wrap>img.mobile {
		width: 29%;
		height: auto;
		padding: 20px 17px;
	}
	.news-post{
		display: block;
	}
	.news-post ul li{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		font-size: 14px;
		width: 100%;
		padding: 11px 0px;
		border-bottom: 1px dotted #ccc;
	}
	.news-post a {
		text-decoration: underline;
	}
	.news-title>a.mobile{
		display: block;
		width: 80px;
		margin: 19px auto 0;
	}
	.news-title>a.mobile img{
		width: 94%;
	}
	/*end news*/
	#construction {
		padding-top: 32px;
		padding-bottom: 30px;
		text-align: center;
	}
	#construction p {
		font-size: 14px;
	}
	.title img {
		width: 64%;
		margin-bottom: 20px;
	}
	.photo-construct {
		padding-top: 25px;
	}
	.photo-construct ul{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		flex-wrap: nowrap;
	}
	ul.mobile li {
		flex-basis: 30%;
	}
	ul.mobile li:nth-child(2){
		margin: 0 10px;
	}
	ul.mobile img {
		width: 50%;
		padding-top: 7px;
	}


	.photo-construct a::before,
	.photo-construct a::after,
	.photo-construct li.photo::before,
	.photo-construct li.photo::after {
		width: 9px;
		height: 9px;
		position: absolute;
		border-color: #0f5c9b;
		border-style: solid;
		content: '';
	}
	.photo-construct a::before{
		top: 0px;
		left: 5px;
		border-width: 1px 0 0 1px;
	}
	.photo-construct a::after{
		bottom: 0px;
		left: 5px;
		border-width: 0 0 1px 1px;
	}
	.photo-construct li.photo::before{
		top: 0px;
		right: 5px;
		border-width: 1px 1px 0 0;
	}
	.photo-construct li.photo::after{
		bottom: 0px;
		right: 5px;
		border-width: 0 1px 1px 0;
	}

	

	/*end #construction*/
	/*alsok-title*/
	#alsok {
		padding-top: 31px;
	}
	.alsok-title {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
	}
	.alsok-title img.mobile {
		width: 89%;
	}
	.alsok-title p {
		font-size: 14px;
		margin-top: 23px;
		margin-bottom: 26px;
	}
	.alsok-title a {
		font-size: 13px;
		padding: 14px 17px 14px 30px;
	}
	.man {
		position: relative;
		width: 70%;
		z-index: -1;
	}
	.alsok-logo {
	position: absolute;
	width: 21%;
	right: 12%;
	bottom: 7%;
	}

	/*end alsok-title*/
/*end Index page*/

/*TV page*/
	.text-hero {
		padding: 40px 70px;
		font-size: 18px;
	}
	#table{
		padding: 30px 0px 38px;
	}
	#table h4, #tv-post h4 {
		padding-bottom: 7px;
		font-size: 18px;
		text-align: center;
	}
	.table-row .heading {
		padding: 12px 0 10px 0;
	}
	.title.d-f {
    	justify-content: center;
	}
	.title.d-f>p {
		text-align: center;
		margin: 20px 0;
		font-size: 14px;
	}
	.table-row {
		flex: 0 0 100%;
	}
	.row {
		flex-wrap: wrap;
		border: 1px solid #ccc;
	}
	p.detail {
		padding: 13px 16px;
		font-size: 14px;
	}
	/*end table*/
	#tv-post {
    	padding: 33px 0 25px;
	}
	.post-detail {
		padding: 15px;
		margin: 15px 0px;
		flex-wrap: wrap;
	}
	.post-text,.post-img {
		flex: 0 0 100%;
	}
	.post-text b {
		font-size: 18px;
		margin-left: 15px;	
	}
	.post-text p {
		font-size: 14px;
		box-sizing: border-box;
		background-position: 4% center;
	}
	p.text-blue {
		font-size: 10px;
	}
	.text-detail {
		padding: 15px 0;
	}
	.text-detail p{
		display: inline;
	}
	p.n5 {
		display: block;
	}
	.post-text img {
    	padding: 7px 10px 7px 9px;
    	height: 11px;
	}
	.call-post {
		flex-wrap: wrap;
	}
	.call-post .contact,.call-blue{
		margin-left: 0px;
		flex-basis: 100%;
		padding: 11px 18px;
		margin-bottom: 10px;
		text-align: center;
	}
	.post-contact {
   		text-align: center;
	}
	.post-contact img {
		width: 81%;
		min-height: 25px;
		padding: 0 0 7px 0;
	}
	.full {
		display: inline-block;
		width: 100%;	
	}
	/*end tv-post*/
	/*sub-post*/
	#sub-post {
    padding: 25px 0px ;
	}
	.sub-post-text img.mobile{
		width: 84%;
		padding: 10px 22px;
	}
	p.sub-post-text {
		padding-top: 17px;
		font-size: 14px;
		width: 214px;
		margin: 0 auto;
		line-height: 20px;
	}
	p.sub-post-text span{
		font-size: 16px;
	}
	/*end sub-post*/
/*end tv page*/

	/*footer*/
	#upper-footer {
    padding: 35px 0 56px 0;
    text-align: center;
 }
	.text-footer.mobile {
	width: 85%;
	padding: 10px 20px !important;
	margin-bottom: 20px;
	}
	#upper-footer .title p {
		font-size: 14px;
		width: 100%;
		margin: 0 auto;
	}
	.call-footer {
		overflow: hidden;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		margin-top: 32px;
	}
	#upper-footer .contact {
		margin: 20px 18px 0;
	}
	.call-footer .info img {
    	width: 72%;
    	/* margin-top: 32px; */
 }
	/*end upper-footer*/
	#main-footer {
		padding: 20px 0;
	}
	.menu-footer ul {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;		
	}
	.menu-footer ul li{
		padding: 0px 15px;
		margin: 3px 0px;
		display: list-item;
		
	}
	.menu-footer ul li a {
		font-size: 12px;
	}
	.contact p {
		font-size: 12px;
	}
	/*end main-footer*/
	#sub-footer p {
		font-size: 10px;
	}


}