* {padding: 0; margin: 0}
nav.navbar {
	padding: 0; margin: 0
}
.mainNavbar {
	background-color: #00000040;
	position: absolute;
	top: 0%;
	left: 0%;
	z-index: 2;
	animation: fromTop 0.5s forwards;
}
.navbar-nav {
	margin: auto;
}
ul.navbar-nav li.nav-item {
	padding: 50px 24px;
	
}
ul.navbar-nav li.nav-item a.nav-link {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	color: white;
}
ul.navbar-nav li.nav-item a.navbar-brand {
	font-size: 48px;
	color: #e59205;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 24px;
}
ul.navbar-nav li.nav-item a.nav-link:hover {
	color: #e59205;
}
header {
	margin-bottom: 20px;
}
div.hero {
	background-image: url('../images/bg_header.jpg');
	height: 900px;
	background-size: cover;
	position: relative;
	overflow: hidden;
}
.title {
	font-size: 60px;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-style: italic;
	color: white;
	
}
#heading {
	position: absolute;
	top: 46%;
	left: 21%;
	z-index: 2;
	animation: fadeUp 0.5s forwards;
	animation-delay: 0.3s;
	opacity: 0;
	visibility: hidden;
}
h1.title span {
	color: #e59205;
}
.text {
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	color: white;
	line-height: 42px;
	width: 600px;
}
#subheading {
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	animation: fadeUp 0.5s forwards;
	animation-delay: 0.4s;
	position: absolute;
	top: 59%;
	left: 29%;
}
.button {
	color: white;
	font-size: 22px;
	font-family: 'Oswald', sans-serif;
	padding: 10px 32px;
	border: 1px solid white;
	text-transform: uppercase;
	cursor: pointer;
}
#btn-header {
	opacity: 0;
	visibility: hidden;
	animation: Slide 0.5s forwards;
	animation-delay: 0.5s;
	position: absolute;
	left: 44%;
	z-index: 2;
	top: 75%;
}
.button:hover {
	background-color:  #e59205;
	border: 1px solid  #e59205;
	text-decoration: none;
	color: white;
}
.bg_black {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	z-index: 1;
	background: #0000008a;
	animation: fromRight 1s forwards;
	animation-delay: 1s;
	opacity: 0;
	visibility: hidden;

}
 h2.category:before {
	content:"";
	height: 1px;
	width: 15%;
	background: #e59205;
	margin: 0px 20px;
	display: inline-block;
	vertical-align: middle;
}
 h2.category:after {
	content:"";
	height: 1px;
	width: 15%;
	background: #e59205;
	margin: 0px 20px;
	display: inline-block;
	vertical-align: middle;
}

.category {
	color: #6e7498;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 30px;
	padding-top: 30px;
}

.menu {
	color: #6e7498;
	border: 1px solid #6e7498;
	margin: 0px 30px;
	background: none;
	padding: 10px 20px;
}
.smallGallery {
	position: relative;
	text-align: center;
}

.smallGallery img {
	width: 80%;
	border: 7px solid white;
	box-shadow: 0px 0px 30px 5px #ecececd6;
	transition: 0.5s all;
}
.gallery {
	padding-bottom: 20px;
	margin-top: 15px;
	display: none;
}
.smallGallery .detail {
	position: relative;
	width: 100%;
	left: 0px;
	text-align: center;
}

.smallGallery .detail h4 {
	color: #e59205;
	font-size: 60px;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-style: italic;
	text-align: center;
}
.detail p {
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	color:  #6e7498;
	line-height: 32px;
	text-align: center;
	margin-bottom:  30px;
}
.detail p span {
	color: black;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 17px;
}
.detail a.button {
	margin: 0px;
	font-size: 
}
.smallGallery button.menu {
	margin: 50px 0px 5px;
	padding: 5px 27px;
}

.smallGallery button.menu:hover {
	background-color:  #e59205;
	border: 1px solid  #e59205;
	text-decoration: none;
	color: white;
	cursor: pointer;
}
.scale {
	transform: scale(1.4);
}
.clickOn {
	background-color:  #e59205;
	border: 1px solid  #e59205;
	text-decoration: none;
	color: white;
}
button:focus {
	outline: none;
}
#breakfast {
	background-color: #e59205;
	margin-bottom: 70px;
}
#breakfast h2 {
	width: 300px;
	font-size: 60px;
	margin: 61px 34px;
}
#breakfast img {
	height: 400px;
	background-size: cover;
	width: 100%;
}
.itemsRow {
	margin: 80px 0;
}
.items .picture {
	width: 100px;
	height: 100px;
	overflow: hidden;
	margin: auto;
	margin-bottom: 28px;
	background-image: url('../images/items.gif');
}

.items h3 {
	font-size: 30px;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	margin-bottom: 32px;
	color:  #6e7498;
}
.items p {
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	color:  #6e7498;
	line-height: 40px;
	margin-bottom:  30px;
}
.items div#meat {
	background-position: 0px 0px;
}
.items div#bread {
	background-position: -100px 0px;
}
.items div#cake {
	background-position: -178px 0px;
}
.items div#fish {
	background-position: 0px 100px;
}
.items div#cheese {
	background-position: -100px 100px;
}
.items div#rice {
	background-position: -178px 100px;
}
footer {
	margin: 5px 0px;
}
.contact {
	margin: auto;
	background-image: url('../images/contact.jpg');
	background-size: cover;
	width: 100%;
}
.contact h1{
	padding-top: 100px; 
}
.form-group {
	margin: auto;
	padding: 50px 0px;
}
.form-group input{
	border: 1px solid white;
	background-color: transparent;
	color: white;
	width: 575px;
	height: 50px;
}
.form-group .mail {
	display: block;
	margin: 35px auto;
	background-color:  #e59205;
	border: 1px solid  #e59205;
	text-decoration: none;
	color: white;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 22px;
	font-family: 'Oswald', sans-serif;
	padding: 10px 32px;
}
.copyRight  {
	padding: 50px 0px;
}
.copyRight h6,
.copyRight ul,li {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	color: #6e7498;
	float: left;
	margin-right: 10px;
}

.copyRight ul {
	text-align: right;
	text-transform: uppercase;
	float: right;
}
@-webkit-keyframes fromTop {
	0% {
		top: -30%;	
	}
	100% {
		top: 0%;	
	}

}
@-webkit-keyframes fromRight {
	0% {
		
		right: 0%;
		opacity: 0;
		visibility: hidden;
	
	}
	100% {
		opacity: 1;
		visibility: visible;
		left: 0%;	
	}

}
@-webkit-keyframes fadeUp {
	0% {
		opacity: 0;
		transform: translateY(-100px);
		visibility: hidden;
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
		visibility: visible;
	}
}
@-webkit-keyframes Slide {
	0% {
		opacity: 0;
		transform: translateX(100px);
		visibility: hidden;
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
		visibility: visible;
	}

}
@media screen and (max-width:736px) {
	
	span.navbar-toggler-icon {
		color: white;
		border: 1px solid  white;
	}
	div.hero {
		height: 400px;
	}
	#heading {
		font-size: 45px;
		left: 10%;
		top: 30%;
	}
	.text {
		font-size: 14px;
		line-height:  35px;
		width: 477px;
		text-align:  center;
	}
	#subheading {
		top: 47%;
		left: 20%;
	}
	#btn-header {
		top: 70%;
		left: 40%;
	}
	.title {
		font-size: 40px;
	}
	h2.category::before,
	h2.category::after{
		width: 10%;
	}
	.category {
		padding-bottom: 22px;
		padding-top: 10px;
	}
	#breakfast h2 {
    width: 600px;
    font-size: 55px;
    margin: 50px 30px;
    text-align: center;
	}
	.itemsRow {
    margin: 15px 0;
	}
	.items {
		padding: 20px 0;
	}
	.copyRight {
		padding: 10px 0px;
	}
	.copyRight ul, li {
		margin-right: 39px;
	}
	.copyRight h6 {
		margin-left: 96px;
	}
}
@media screen and (max-width:480px) {
	span.navbar-toggler-icon {
		color: white;
		border: 1px solid  white;
	}
	div.hero {
		height: 300px;
	}
	#heading {
	font-size: 22px;
	left: 15%;
	top: 28%;
	text-align: center;
	}
	.text {
		font-size: 11px;
		line-height: 24px;
		width: 300px;
		text-align:  center;
	}
	#subheading {
		top: 39%;
		left: 8%;
		font-size: 11px;
		width: 360px;
		line-height: 22px;
	}
	#btn-header {
		top: 60%;
		left: 39%;
		font-size: 10px;
		padding: 9px 18px;
	}
	.title {
		font-size: 22px;
	}
	h2.category::before,
	h2.category::after{
		width: 7%;
	}
	.category {
		padding-bottom: 10px;
		padding-top: 0px;
	}
	.smallGallery {
		padding-bottom: 20px;
	}
	.smallGallery img{
		width: 50%;	
	}
	.smallGallery button.menu {
		display: block;
		margin: 20px auto 10px;
	}
	.scale {
		transform: scale(1.1);
	}
	.smallGallery .detail {
		padding-bottom: 20px;
	}
	.smallGallery .detail h4 {
		font-size: 40px;
	}
	.smallGallery .detail p {
		font-size: 10px;
		line-height: 25px;
		margin-bottom: 20px;
	}
	#breakfast h2 {
    width: 300px;
    font-size: 26px;
    margin: 26px 40px;
    text-align: center;
 }
	.itemsRow {
    margin: 15px 0;
	}
	.items {
		padding: 20px 0;
	}
	.button {
		font-size: 10px;

	}
	.menu {
		padding: 4px 10px;
		margin: 0px 5px;
	}
	.form-group {
		
		text-align: center;
	}
	.form-group input {
		width: 280px;
	}
	.form-group .mail {
		
		margin-bottom: -10px
	}
	.copyRight {
		padding: 10px 0px;
	}
	.copyRight ul, li {
		margin-right: 20px;
	}
	.copyRight h6 {
		margin-left: 26px;
	}
}
